#nadpis{
    font-size: 2.5em;
    color: rgb(37, 37, 255);
    font-family: Arial, sans-serif;
}

.navbar {
    text-align: center;
    margin-bottom: 30px;
}

.navbar ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 250px;
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color: rgb(37, 37, 255);
}

.navbar a{
    padding: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
}

.navbar li{
    float: left;
}

.navbar a:hover{
    background-color: rgb(32, 32, 216);
}

#tabulka{
    position: fixed;
    bottom: 50px;
    left: 20px;
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.71);
    background-color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid; height: 350px; width: 250px;
    border-radius: 8px;
}

#trida{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-left: 120px;
    font-size: 20px;
    display: block;
}

#unit{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-left: 120px;
    font-size: 20px;
    display: block;
}

#subunit{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    margin-left: 120px;
    font-size: 20px;
    display: block;
}

#trida-n치pis{
    position: relative;
    top: 20px;
    margin-left: 23px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#unit-n치pis{
    position: relative;
    top: 20px;
    margin-left: 23px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#subunit-n치pis{
    position: relative;
    top: 20px;
    margin-left: 23px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#button{
    position: relative;
    bottom: 10px;
    font-size: 17px;
    font-family: Arial, sans-serif;
    height: 35px;
    border-radius: 3px;
    border: #fff;
    background-color: rgb(105, 209, 0);
    margin-left: 35px;
    width: 180px;
    cursor: pointer;
}

#nepravidelna-button{
    font-size: 17px;
    font-family: Arial, sans-serif;
    height: 35px;
    border-radius: 3px;
    border: #fff;
    background-color: rgb(255, 51, 51);
    margin-left: 35px;
    margin-top: 8px;
    width: 180px;
    cursor: pointer;
}

#table{
    position: fixed;
    left: 380px;
    top: 285px;
    margin-right: 40px;
    overflow: auto;
    height: 400px;
    display: block;
}

#body{
    overflow: hidden;
}

.table_sloupce{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #bbbbbb;
}

#zpr치va{
    margin-left: 10px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}